doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Movie Application
    link(href='style.css', rel='stylesheet')
    link(href='bootstrap/dist/css/bootstrap.css' rel="stylesheet")
  body
    header
      .container
        .row
          h1.col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center Movie Application
        .row
          //ul.myList
          //  li First
          //  li Second
          //  li Third
          //  li Fourth
          #primaryInput.input-group.col-lg-12.col-md-12.col-sm-12.col-xs-12
            input(type="text", placeholder="Search for...")#searchCriteria.form-control
            //.form-group
              //label(for="sel1") Select list:
              //select.form-control#sel1
                //option movie
                //option series 
                //option episode
              
            span.input-group-btn            
              button(type="button").btn.btn-secondary#mainBtn Search

    main
      .container
        .row
          section#movieInfo.col-lg-6.col-md-6.col-sm-6.col-xs-12
            #mainMovieData
              h1#movieTitle
              span: em#movieYear
              span: #movieimdbRating
              span: #movieRunTime
              span: #movieGenre 
              p#description
              p#movieDirector
              //p#movieActors 
              //li #[a(href="#") click  #[span here #[strong !]]]
              //p#movieWriter
              //p#movieAwards 
          section#moviePoster.col-lg-6.col-md-6.col-sm-6.col-xs-12
            img.img-responsive.rounded.center-block#poster
          //section#AppInfo.col-lg-2.col-md-2.col-sm-2.col-xs-2
            //.well: em This app retrieves movie data from the OMDB API.
    footer
      .container
        p footer text
    script(src='script.js')
    //script(src='jquery/dist/jquery.js')
    //script(src='bootstrap/dist/js/bootstrap.js')
    //script(src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.4.0/velocity.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    
    script(src='bootstrap/dist/js/bootstrap.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js")
    
    //https://raw.githubusercontent.com/julianshapiro/velocity/master/velocity.min.js
    //cdnjs.cloudflare.com/ajax/libs/velocity/1.4.0/velocity.min.js
