doctype html
html
  include head.pug
  body
    header
      include mainInput.pug
    main
      //.container
        //.row
          //section#movieInfo.col-lg-6.col-md-6.col-sm-6.col-xs-12
            #mainMovieData
              h1#movieTitle
              span: em#movieYear
              span: #movieimdbRating
              span: #movieRunTime
              span: #movieGenre
              p#description
              p#movieDirector
              //p#movieActors
              //li #[a(href="#") click  #[span here #[strong !]]]
              //p#movieWriter
              //p#movieAwards
          //section#moviePoster.col-lg-6.col-md-6.col-sm-6.col-xs-12
            //img.img-responsive.rounded.center-block#poster
      section.container
        .row#tempHolderForMovies


    include base.pug
