doctype html
html
  head
    meta(charset='utf-8')
    title My Movie Application
    link(href='style.css', rel='stylesheet')
    link(href='bootstrap/dist/css/bootstrap.css' rel="stylesheet")
  body
    header
      .container
        .row
          h1.col-lg-12.text-center My Movie Application
        .row
          input(type="text")#searchCriteria.form-control.col-lg-6.col-md-6.col-sm-6.col-xs-6
          button#mainBtn.col-lg-6.col-md-6.col-sm-6.col-xs-6 Search
    main
      .container
        .row
          .col-md-8.col-sm-8
            #mainMovieData
              h1#movieTitle
              h1: em#movieYear
            span: #movieimdbRating
            span: #movieRunTime
            span: #movieGenre 
            p#description 
            section#movieData
              p#movieDirector Director 
              p#movieActors Actors 
              //li #[a(href="#") click  #[span here #[strong !]]]
              p#movieWriter Writer
              p#movieAwards Awards 
          .col-md-4.col-sm-4
            img.img-responsive.rounded#poster
    footer
    script(src='script.js')
    script(src='jquery/dist/jquery.js')
    script(src='bootstrap/dist/js/bootstrap.js')
