.container
  .row
    h1.col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center Movie Application
  .row
    //ul.myList
    //  li First
    //  li Second
    //  li Third
    //  li Fourth
    #primaryInput.input-group.col-lg-12.col-md-12.col-sm-12.col-xs-12
      input(type="text", placeholder="Search for...")#searchCriteria.form-control
      //.form-group
        //label(for="sel1") Select list:
        //select.form-control#sel1
          //option movie
          //option series
          //option episode
      span.input-group-btn
        button(type="button").btn.btn-secondary#mainBtn Search
