@backgroundColour  : #1E4451;
@secondaryColour   : #03A9B0;
@darkerBlueColour  : #0B6D78;
@lighterBlueColour : #198392;
@lighterColour     : #F2F2F2;
@bodyColour: #FFF911;

/* ###################  GENERAL ################# */

main{
  padding-top: 30px;
}

body, main {
  background-color: @lighterBlueColour;
  h1, p {
    color: @lighterColour ;
  }
}

header, footer {
    background-color: @backgroundColour;
}

/* ###################  HEADER ################# */

.container{
  //border: 2px solid @lighterColour;
}

#primaryInput {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* ###################  MAIN ################# */

main {

  padding-bottom: 20px;

  #movieInfo{
  }

  #moviePoster img {
    max-width: 300px;
    max-height: 400px;
    padding-top: 5%;
  }

  .container {

    .row{
      background-color:  @backgroundColour;
      border: 2px solid @darkerBlueColour;
      border-radius: 10px;
      height: 500px;
    }

    h1{
      color: @lighterColour;
    }

    p,span{
      font-size: 15px;
      display: inline-block;
      color: @lighterColour;
    }

    #mainMovieData{

      > h1 {
        display: inline-block;
        color: @lighterColour;
      }

      span {
        margin-left: 20px;
        color:  @lighterColour;
        display: inline-block;
      }

    }

  }

}



/* ###################  FOOTER ################# */
footer {
  margin-top: 10px;
}


/*  Styling for velocity.js animated list */

.myList ul{float:left; list-style: none;}
li{padding: 8px; background: #ccc; color: #6B6B6B; margin-bottom: 9px; border-radius: 2px; width: 60px; text-align: center;}
