@backgroundColour  : #1E4451;
@secondaryColour   : #03A9B0;
@darkerBlueColour  : #0B6D78;
@lighterBlueColour : #198392;
@lighterColour     : #F2F2F2;


@bodyColour: #FFF911;


body{
  background-color: @bodyColour;
}

//main, header,footer{
//  background-color: @backgroundColour;
//}

.container{

  h1{
       color: @secondaryColour;
 }
  p,span{
       font-size: 15px;
       color: @lighterBlueColour;
  }

  #movieData {
    font-size: 10px;
  }

  #mainMovieData{
    border: 5px solid #000;

    > h1 {
      display: inline;
    }

    span {
      margin-left: 100px;
    }
  }



}
